*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea
__pycache__
/input_dataset/
/outputs/annotated_output.mp4
/outputs/
/train_yolo/Bowling-1/
/train_yolo/Merged_Dataset/
/train_yolo/car-detection-5/
/train_yolo/My-First-Project-4/
/train_yolo/my_dataset/
/train_yolo/Toy-car-detection-3/
